

:root {
    background:antiquewhite;
    background-size: 50%;
    font-size:xx-large;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: brown;
    margin: auto;
  }




